<div class="col-md-5 p-2">


<div class="row mb-1">
    <div class="col-3 m-auto ">
        Code
    </div>
    <div class="col ">
        <input type="text" class="form-control form-control-sm" value="<%= customer.id %>">
    </div>
</div>
<div class="row mb-1">
    <div class="col-3 m-auto ">
        Name
    </div>
    <div class="col ">
        <input type="text" class="form-control form-control-sm" value="<%= customer.name %>">
    </div>
</div>
<div class="row mb-1">
    <div class="col-3 m-auto ">
        Contact
    </div>
    <div class="col ">
        <input type="text" class="form-control form-control-sm" value="<%= customer.contact %>">
    </div>
</div>
<div class="row mb-1">
    <div class="col-3 m-auto ">
        Email
    </div>
    <div class="col ">
        <input type="text" class="form-control form-control-sm " value="<%= customer.email %>">
    </div>
</div>
</div>



<ul class="nav nav-tabs" id="myTabs">
    <li class="nav-item">
      <a class="nav-link " id="home-tab" data-bs-toggle="tab" href="#home">Prescription</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" id="profile-tab" data-bs-toggle="tab" href="#profile">Sales Order</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact">Counter Sales</a>
    </li>
  </ul>

  <div class="tab-content mt-2">
    <div class="tab-pane fade " id="home">
      <h2>Home Content</h2>
      <p>This is the content for the Home tab.</p>
    </div>
    <div class="tab-pane fade show active " id="profile">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <%- include('./salesinfo.ejs') %>




        
                <div class="collapse" id="billingCollapse">
                    <form action="/makebill" method="post" target="_blank">

                        <%- include('./billingform.ejs') %>


                        <button type="submit" class="btn btn-primary">Submit</button>

                    </form>
                </div>



            </div>
            <div class="col-md-3">

            </div>
        </div>

    </div>
    <div class="tab-pane fade" id="contact">
      <h2>Contact Content</h2>
      <p>This is the content for the Contact tab.</p>
    </div>
  </div>




  <script>


    function calculateAmount(input){
        
        console.log(input);
        var id = input.getAttribute('data-id');
        var name = input.getAttribute('id')

        

        
        const rate = document.getElementById('rate'+id).value;
        const qty = document.getElementById('qty' +id).value;




        if (name.includes('dis%')) {
            
            console.log('%');
            const disPercentage = document.getElementById('dis%' +id).value;

            const discountvalue = (rate * qty * disPercentage)/100
            const amount = rate * qty - discountvalue;
            
            // Update the amount input field
            document.getElementById('amount'+id).value = amount.toFixed(2);
            document.getElementById('discount'+id).value = discountvalue.toFixed(2);
        }
        else if (name.includes('amount')){
            console.log('amount');
            const amount = document.getElementById('amount' +id).value;

            const discountvalue = Math.abs(amount - rate*qty)
            const disPercentage = Math.abs((discountvalue / (rate * qty)) * 100);


            
            // Update the amount input field
            document.getElementById('dis%'+id).value = disPercentage.toFixed(2);
            document.getElementById('discount'+id).value = discountvalue.toFixed(2);
        }
        else if (name.includes('qty')){
            const amountvalue = qty*rate
            document.getElementById('amount'+id).value = amountvalue.toFixed(2);

            document.getElementById('dis%'+id).value = 0;
            document.getElementById('discount'+id).value = 0;
        } 
        else if (name.includes('discount')){
            console.log('amount');
            const discountvalue = document.getElementById('discount' +id).value;
            const qty = document.getElementById('qty' +id).value;
            const rate = document.getElementById('rate'+id).value;

            // const discountvalue = Math.abs(amount - rate*qty)
            // const disPercentage = Math.abs((discountvalue / (rate * qty)) * 100);


            
            // Update the amount input field
            document.getElementById('dis%'+id).value = ((discountvalue/rate*qty)*100).toFixed(2);
            document.getElementById('amount'+id).value = (rate*qty-discountvalue).toFixed(2);
        }
        
        
        showsave()

    };




    

</script>