<div class="row">



  <form hx-post="/productssave" method="post">

    <input type="text" name="id" class="d-none"  value="<%= customer.id %>">
    <table class="table" id="product-table">
      <thead>
        <tr>

          <th scope="col">Code</th>
          <th scope="col">Discription</th>
          <th scope="col">Qty.</th>
          <th scope="col">Rate</th>
          <th scope="col">Amount</th>
          <th scope="col">Disc % </th>
          <th scope="col">Discount</th>
        </tr>
      </thead>

      <tbody id="items">

        <% sales.forEach(p => { %>


          <tr >

            <td> 
                <input type="text" class="form-control form-control-sm" id="code<%= p.id %>" name="code"  value="<%= p.code %>">
            </td>
            
            <td>
                <input type="text" class="form-control form-control-sm" id="desc<%= p.id %>"  name="desc" value="<%= p.desc %>">
            </td>
            <td>
                <input type="number" class="form-control form-control-sm" min="1" id="qty<%= p.id %>" name="qty" data-id="<%= p.id %>" oninput="calculateAmount(this)" value="<%= p.qty %>" >
            </td>
            <td>
                <input type="text" class="form-control form-control-sm" id="rate<%= p.id %>" name="rate" data-id="<%= p.id %>" oninput="calculateAmount(this)"  value="<%= p.rate %>">
            </td>
            <td>
                <input type="text" class="form-control form-control-sm" id="amount<%= p.id %>" name="amount" data-id="<%= p.id %>" oninput="calculateAmount(this)" value="<%= p.amount %>">
            </td>
            <td>
                <input type="text" class="form-control form-control-sm" max="100" min="0" step="any" id="dis%<%= p.id %>" name="dis" data-id="<%= p.id %>" oninput="calculateAmount(this)" value="<%= p.dis %>">
            </td>
            <td>
                <input type="text" class="form-control form-control-sm" min="0" id="discount<%= p.id %>" name="discount"  data-id="<%= p.id %>" oninput="calculateAmount(this)" value="<%= p.discount%>"> 
            </td>
            
        
        
        
        </tr>
        <% }) %>


      </tbody>

    </table>

    <button type="submit" class="btn btn-success" id="save" onclick="saved()" style="display: none;">Saved</button>
  </form>



  <div class="text-center">

    <button type="button" class="btn btn-dark btn-sm "  data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="fa-solid fa-plus"></i>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog d-flex align-items-center">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Specs</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form hx-post="/specs" hx-target="#items" hx-swap="beforeend">

            <div class="modal-body">

              <select class="form-select" name="product" aria-label="Default select example">

                <% products.forEach(element => { %>
                <option value="<%= JSON.stringify(element) %>"><%= element.desc %></option>
                <% }) %>

              </select>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" data-bs-dismiss="modal" class="btn btn-primary" onclick="showsave()">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">

</div>


<script>

  if (document.getElementById('items').innerText !== '') {
    console.log(document.getElementById('items').innerText);
    document.getElementById('save').style.display = 'block';
  }
  function showsave() {
    document.getElementById('save').innerText = 'Save*';
  }
  function saved() {
    document.getElementById('save').innerText = 'Saved';
  }


</script>