<% p = JSON.parse(product) %>
<tr >

    <td> 
        <input type="text" class="form-control form-control-sm" id="code<%= p.id %>" name="code"  value="<%= p.code %>">
    </td>
    
    <td>
        <input type="text" class="form-control form-control-sm" id="desc<%= p.id %>"  name="desc" value="<%= p.desc %>">
    </td>
    <td>
        <input type="number" class="form-control form-control-sm" min="1" id="qty<%= p.id %>" name="qty" data-id="<%= p.id %>" oninput="calculateAmount(this)" value="1" >
    </td>
    <td>
        <input type="text" class="form-control form-control-sm" id="rate<%= p.id %>" name="rate" data-id="<%= p.id %>" oninput="calculateAmount(this)"  value="<%= p.rate %>">
    </td>
    <td>
        <input type="text" class="form-control form-control-sm" id="amount<%= p.id %>" name="amount" data-id="<%= p.id %>" oninput="calculateAmount(this)" value="<%= p.rate %>">
    </td>
    <td>
        <input type="text" class="form-control form-control-sm" max="100" min="0" step="any" id="dis%<%= p.id %>" name="dis" data-id="<%= p.id %>" oninput="calculateAmount(this)" value="0">
    </td>
    <td>
        <input type="text" class="form-control form-control-sm" min="0" id="discount<%= p.id %>" name="discount"  data-id="<%= p.id %>" oninput="calculateAmount(this)" value="0"> 
    </td>
    



</tr>

